# fly.toml app configuration file
# See https://fly.io/docs/reference/configuration/ for information

app = "email-verifier-api"
primary_region = "iad"

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1

[env]
  PORT = "8080"
